/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Dunkin heeft een eigen font, maar heb een soortgelijke gevonden op adobe en met hun instructies de font toegevoegd 
https://fonts.adobe.com/my_fonts*/
:root {
	--focus-color: rgba(133, 0, 75, 0.858);
	--header-button-color: rgb(240, 240, 240);
	--main-button-color: rgb(255, 110, 12);
	--style-color-one: rgba(242, 12, 144, 255);
	--style-color-two: rgb(255, 110, 12);
	--main-header-color: rgba(242, 12, 144, 255);
	--main-p-color: rgb(76, 76, 76);
	--background-font-color: rgb(255, 255, 255);
	--text-uppercase: uppercase;
	--text-align: center;
	--line-height: 1em;
	--font-family: omnes-pro, sans-serif, Ariel;
	--list-style: none;
	--border-radius-cubes: 1.5em;
	--ul-padding: 0;
}

/****************/
/* GENERAL STYLING */
/****************/

/* --big styling */
/* ik kon eerst niet goed de bg color aanpassen van de sectie, omdat er om de body een padding enx stond. Als ik at eruit haalde, werkte de content niet meer.hideIk heb dus ervoorg gekozen om dit te doen, omdat,
dit een oplossing is waarmee ik niet mijn code helemaal moest omgooien, of veel aan. https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient  */
body {
	padding: 0 1em;
	background: linear-gradient(rgb(255, 255, 255) 0% 12%, rgba(245, 245, 245, 255) 12% 46%, rgb(255, 255, 255) 46% 100%);
}


header {
	background-color: white;
}


main {
	padding-top: 2.5em;

}

/* Ik wil hier graag werken voor de screenreader, maar nu snap ik het nog niet, dusnu display noen */
/* https://css-tricks.com/inclusively-hidden/ */
/* https://uit.stanford.edu/accessibility/concepts/screen-reader-only-content */
.sr-only {
	font-size: .01em;
	padding-left: 500em;
}

/* --texts and buttons */
h1,
h2,
h3,
h4,
p,
button,
a {
	font-family: var(--font-family);
	text-transform: var(--text-uppercase);
	line-height: var(--line-height);
}

ul,
ol {
	padding-left: var(--ul-padding);
}

li {
	list-style-type: var(--list-style);
}


h3,
h4 {
	font-size: 3em;
	font-weight: 900;
	font-style: normal;
	color: var(--main-header-color);
}


p {
	text-transform: none;
	font-weight: 600;
	color: var(--main-p-color);
	line-height: 1.4em;
}


button {
	border-radius: .7em;
	font-weight: 800;
	font-size: 1em;
	color: var(--background-font-color);
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	font-style: normal;
	font-size: 1em;
	border-radius: 2em;
}

a:focus{
	background-color: var(--focus-color);
}


button,
a {
	border: 0;
}

button:focus {
	background-color: var(--focus-color);
}

/* tab .index */

.oranje_knop {
	background-color: var(--main-button-color);
	height: 3em;
	padding: 1.7em 7em;
	color: var(--background-font-color);
	display: flex;
	justify-content: center;
	align-items: center;
}


/* --cube styling dat over meer sections gaat */
main section:nth-of-type(2),
main section:nth-child(5),
.order article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2em;
}

/* hielp om de 2e article weer goed te krijgen, behalve de width */
main section:nth-of-type(2) article,
main section:nth-of-type(2) article:nth-of-type(2) section,
main section:nth-child(5) article img:first-of-type,
.order article section {
	border-radius: var(--border-radius-cubes);
}


/* --svg icon styling dat over meer sections gaat */
footer img,
main section:nth-of-type(3) img,
main section:nth-child(5) img:last-of-type {
	background-color: var(--style-color-one);
	width: 3.5em;
	border-radius: 3em;
	display: flex;
	align-self: center;
	justify-self: center;
}


/****************/
/* HEADER */
/****************/


/* https://stackoverflow.com/questions/24052569/why-isnt-my-justify-content-property-working
https://stackoverflow.com/questions/14855157/css-move-multiple-list-item-to-the-right-and-up
Eerst had ik mijn nav proberen te maken met flex maar it was not flexing. Ik kwam er later uit met mijn 
oudere site en de padding van de ul, maar na een feedback moment heb ik het veranderd in een grid. */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout
 Lukkt eerst niet, daarna hulp van docent. De grid zelf werkte ook niet wegens verkeerd de html opgeroepen*/
header div {
	display: grid;
	grid-template-columns: max-content auto max-content;
	/* grid-template-columns: 25% 50% 25%; */
	grid-template-rows: 1fr;
	display: grid;
	align-items: center;
}



header div>a {
	grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
	width: 100%;
	justify-content: center;
}

header a img {
	max-width: 10em;

}

header div>button {
	background-color: var(--header-button-color);
	border-radius: 1em;
}

header div>button:first-of-type {
	grid-column-start: 1;
	grid-row-start: 1;
	width: 4.3em;
	height: 2.7em;
	border-radius: 1.5em;

}

header div>button:nth-of-type(2) {
	grid-column-start: 3;
	grid-row-start: 1;
	width: 3em;
	height: 2em;
}

header div>button:first-of-type img {
	width: 45%;
}

/* https://stackoverflow.com/questions/47865412/how-to-change-the-size-of-the-image-on-the-button-in-html-css
Eerst was de img veel te groot, waardoor de container ook groot was */
header button img {
	width: 1.2em;
	height: auto;
}



/* --nav */

header nav {
	display: none;
	width: 100%;
	position: fixed;
	height: 100vh;
	background: rgb(255, 255, 255);
	margin: auto -1.5em auto -1.5em;
	z-index: 10;
}

header nav ul {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-row-gap: 26px;
	display: grid;
	justify-items: center;
	font-size: 2.4em;
	color: rgba(81, 45, 0, 255);
}


/****************/
/* FOOTER */
/****************/
/* idk how to fix the problem of them margin without doing - */
footer {
	background-color: rgb(255, 110, 12);
	margin: auto -1.5em 10em -1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2em;
}

/* sstrugglin with gap, was workin on the wrong parent. if i wanted to use gap ,had to put the lists in grid */
footer ul:first-of-type {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-row-gap: .5em;
}

footer ul:first-of-type a {
	background-color: rgba(238, 77, 37, 255);
	padding: 1.7em 7em;
	color: var(--background-font-color);
	display: flex;
	justify-content: center;
	align-items: center;

}

footer img {
	background-color: rgba(245, 245, 245, 255);
	width: 10em;
	border-radius: 7em;
	padding: .5em;
	margin-top: -3em;
	transform: rotate(-20deg);
	box-shadow: .3em .3em .5em rgb(25, 25, 25, .5);
}


/****************/
/* MAIN*/
/****************/

/* https://www.dofactory.com/css/buttons Ik vergat hoe ik een button moest maken in css */
/* https://www.terluinwebdesign.nl/en/css/position-sticky-not-working-try-overflow-clip-not-overflow-hidden/ Voordat ik position absolute heb gebruikt, 
heb ik sticky geprobeerd, maar dat werkt niet omdat het plakt aan de container. ik moet hiervoor dus fixed gebruiken.
https://stackoverflow.com/questions/19188211/how-to-add-fixed-button-to-the-bottom-right-of-page
https://www.google.com/search?client=firefox-b-d&q=how+to+position+fixed+with+flexbox, Daarna had ik problemen met
flex en fixed. Dit heb ik opgelost door beide de a en de containter een flex en fixed te geven.*/

/* SECTION 1: STICKY BUTTON */
/* zindex want img van footer ginge rvoheenx */
.index h1+section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 245, 245, 255);
	height: 13%;
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 0%;
	z-index: 1;
}

/* https://www.dofactory.com/css/buttons Ik vergat hoe ik een button moest maken in css */
/* https://www.terluinwebdesign.nl/en/css/position-sticky-not-working-try-overflow-clip-not-overflow-hidden/ Voordat ik position absolute heb gebruikt, 
heb ik sticky geprobeerd, maar dat werkt niet omdat het plakt aan de container. ik moet hiervoor dus fixed gebruiken.
https://stackoverflow.com/questions/19188211/how-to-add-fixed-button-to-the-bottom-right-of-page
https://www.google.com/search?client=firefox-b-d&q=how+to+position+fixed+with+flexbox, Daarna had ik problemen met
flex en fixed. Dit heb ik opgelost door beide de a en de containter een flex en fixed te geven.*/
.index h1+section a {
	position: fixed;
	bottom: 1em;
}

/* SECTION 2: MEDIA INTRO */
/* als ik responsive maak dan grid in de media wuery */


/* Ik had eerst voor de 1rste article de box goed gezet, maar het is handiger om het op de section en articles te roepen dan per elke individuele */
/* main section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2em;
} */

/* 
main section:nth-of-type(2) article {
	border-radius: var(--border-radius-cubes);
} */





/* --article 1, 3 */

/* https://www.w3schools.com/cssref/css3_pr_background-size.php
Ik moest de background goed positioneren  */
.index section:nth-of-type(2) article:first-of-type,
.index section:nth-of-type(2) article:last-of-type {
	background-color: rgba(221, 189, 142, 255);
	background-image: url("/images/coffee_bgeffect.svg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 23em;
	overflow-y: hidden;
}

.index section:nth-of-type(2) article:first-of-type h3,
.index section:nth-of-type(2) article:last-of-type h4 {
	color: var(--background-font-color);
	text-align: var(--text-align);
	margin: .5em;
	font-weight: 900;
}

/* https://www.browserstack.com/guide/how-to-resize-image-using-css */
.index section:nth-of-type(2) article:first-of-type img,
.index section:nth-of-type(2) article:last-of-type img {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: center;
}

/* --article 2 + styling main order*/


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type,
.order article section:first-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 33%);
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type h4,
.order article section:first-of-type h4 {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) h4,
.order article section:nth-of-type(2) h4 {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type p,
.order article section:nth-of-type(2) p {
	grid-column-start: 1;
	grid-row-start: 2;
	font-size: .9em;
	color: var(--background-font-color);
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button:first-of-type,
.order article section:first-of-type button:first-of-type {
	grid-column-start: 1;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255);
	color: var(--style-color-one);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button:nth-of-type(2),
.order article section:first-of-type button:nth-of-type(2) {
	grid-column-start: 2;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255, 0.3);
}


.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2),
.order article section:nth-of-type(2),
.order article section:nth-of-type(3),
.order article section:last-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 0;
	display: none;
}


.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) h4,
.order article section:nth-of-type(2) h4 {
	font-size: 1.5em;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) input,
.order article section:nth-of-type(2) input {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255, 0.3);
	width: 12.1em;
	height: 3.6em;
	border: 0;
	border-radius: .7em 0 0 .7em;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) input:focus,
.order article section:nth-of-type(2) input:focus {
	background-color: var(--focus-color);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) button:first-of-type,
.order article section:nth-of-type(2) button:first-of-type {
	grid-column-start: 2;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255);
	color: var(--style-color-one);
	border-radius: 0 .7em .7em 0;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(2),
.order article section:nth-of-type(2) button:nth-of-type(2) {
	grid-column-start: 1;
	grid-row-start: 1;
	background-color: unset;
	text-align: left;
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2),
.order article section:first-of-type,
.order article section:nth-of-type(2),
.order article section:nth-of-type(3),
.order article section:last-of-type {
	background-color: var(--style-color-one);
	border: 0.5em solid var(--style-color-one);
	height: 12em;
	width: 20.4em;
	color: var(--background-font-color);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) h4,
.order article section:first-of-type h4,
.order article section:nth-of-type(2) h4,
.order article section:nth-of-type(3) h4,
.order article section:last-of-type h4 {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0;
	color: var(--background-font-color);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) button:first-of-type,
.order article section:first-of-type button,
.order article section:nth-of-type(2) button:first-of-type {
	height: 3em;
	width: 9em;
	justify-self: center;
}




/* --article 3 */

.index section:nth-of-type(2) article:last-of-type {
	background-color: rgba(153, 215, 233, 255);
	background-image: none;
	width: 100%;
	overflow-x: hidden;

}

/* display flex lukte niet, veel gebprobeerd om de img te centren maar niks lukt eme dus margin */
.index section:nth-of-type(2) article:last-of-type img {
	width: 25em;
	margin-left: -1.8em;
	display: flex;
}



/* SECTION 3: bestel stappenplan */

.index section:nth-of-type(3) ol {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 1em;
}

.index section:nth-of-type(3) ol li {
	background-color: white;
	display: grid;
	grid-template-columns: 30% 66%;
	grid-template-rows: repeat(2, 4.5em);
	border-radius: var(--border-radius-cubes);
}


.index section:nth-of-type(3) h3 {
	font-size: 4em;
	margin-bottom: .6em;
}

.index section:nth-of-type(3) h3 span {
	color: var(--style-color-two);
}

.index section:nth-of-type(3) h4 {
	grid-column-start: 2;
	grid-row-start: 1;
	font-size: 1.5em;
	/* margin: 1em 0 .2em 0 ; */
	/* display: grid;
	justify-content: flex-end; */
	/* background-color: aqua; */

}

.index section:nth-of-type(3) p {
	grid-column-start: 2;
	grid-row-start: 2;
	font-size: .85em;
	grid-column-start: 2;
	grid-row-start: 2;
	line-height: 1.2em;
}

.index section:nth-of-type(3) li:last-of-type h4 {
	grid-column-start: 2;
	grid-row: 1/3;
	display: flex;
	align-self: center;
	justify-self: center;
	/* margin: auto; */
}

.index section:nth-of-type(3) img {
	grid-column-start: 1;
	grid-row: 1 / 3;
	width: 3.5em;
	padding: .7em;
}

.index section:nth-of-type(3) li:nth-of-type(2) img {
	background-color: var(--style-color-two);
}



/* SECTION 5: BLOG POSTS */


.index section:nth-child(5) article {
	display: flex;
	flex-direction: column;
	padding-top: 4em;
}


.index section:nth-child(5) h3 {
	font-size: 2.35em;
	text-transform: unset;
	margin: auto;
}

.index section:nth-child(5) article:last-of-type h3 {
	color: var(--style-color-two);
}

.index section:nth-child(5) p {
	font-size: 1.2em;
}


.index section:nth-child(5) img {
	order: -1;
}

.index section:nth-child(5) img:first-of-type {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.index section:nth-child(5) img:last-of-type {
	background-color: var(--style-color-two);
	width: 6em;
	/* border-radius: 3em;
	display: flex;
	align-self: flex-end;
	justify-self: center; */
	padding: 1.2em;
	margin: -3em 2em 1em auto;
}

.index section:nth-child(5) img:last-of-type {
	background-color: var(--style-color-one);
}


/****************/
/* MAIN ORDER*/
/****************/

#orderbody {
	background: unset;
}

.order {
	margin-top: .5em;
	background-color: var(--style-color-one);
}

.order article section {
	margin: 10em auto 15em auto;
}

.order article section p {
	color: var(--background-font-color);
}