/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Dunkin heeft een eigen font, maar heb een soortgelijke gevonden op adobe en met hun instructies de font toegevoegd 
https://fonts.adobe.com/my_fonts*/
:root {
	--focus-color: rgba(185, 0, 105, 0.457);
	--header-button-color: rgb(240, 240, 240);
	--main-button-color: rgb(255, 110, 12);
	--style-color-one: rgba(242, 12, 144, 255);
	--style-color-two: rgb(255, 110, 12);
	--main-header-color: rgba(242, 12, 144, 255);
	--main-p-color: rgb(76, 76, 76);
	--background-font-color: rgb(255, 255, 255);
	--text-uppercase: uppercase;
	--text-align: center;
	--line-height: 1em;
	--font-family: omnes-pro, sans-serif, Ariel;
	--list-style: none;
	--border-radius-cubes: 1.5em;
	--ul-padding: 0;
}

/****************/
/* GENERAL STYLING */
/****************/

/* --big styling */
/* ik kon eerst niet goed de bg color aanpassen van de sectie, omdat er om de body een padding enx stond. Als ik at eruit haalde, werkte de content niet meer.hideIk heb dus ervoorg gekozen om dit te doen, omdat,
dit een oplossing is waarmee ik niet mijn code helemaal moest omgooien, of veel aan. https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient  */
body {
	padding: 0 1em;
	background: linear-gradient(rgb(255, 255, 255) 0% 15%, rgba(245, 245, 245, 255) 15% 50%, rgb(255, 255, 255) 46% 100%);
}


header {
	background-color: white;
}


main {
	padding-top: 5em;
	padding-bottom: 10em;

}


.sr-only {
	font-size: 0em;
	padding-left: 500em;
}

body>a {
	display: none;
}

/* --texts and buttons */
h1,
h2,
h3,
h4,
p,
button,
a,
select {
	font-family: var(--font-family);
	text-transform: var(--text-uppercase);
	line-height: var(--line-height);
}

ul,
ol {
	padding-left: var(--ul-padding);
}

li {
	list-style-type: var(--list-style);
}


h3,
h4 {
	font-size: 3em;
	font-weight: 900;
	font-style: normal;
	color: var(--main-header-color);
}


p,
select {
	text-transform: none;
	font-weight: 600;
	color: var(--main-p-color);
	line-height: 1.4em;
}



button {
	border-radius: .7em;
	font-weight: 800;
	font-size: 1em;
	color: var(--background-font-color);
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	font-style: normal;
	font-size: 1em;
	border-radius: 2em;
}

select {
	font-weight: 800;
	font-size: 1em;
	background-color: rgba(255, 255, 255);
	color: var(--style-color-one);
	border-radius: 3em;
}

button,
a,
select {
	border: 0;
}

/* in een andere browser werkt tab focus beter dan in firefox, maar focus kleur zie je niet meer op de knoppen en ik weet echt niet waarom, wel bij input */
a:focus,
button:focus,
select:focus {
	background-color: var(--focus-color);
}


/* tab .index */
main section:first-of-type a,
main section:nth-of-type(3) a,
main section:last-of-type a {
	background-color: var(--main-button-color);
	height: 3em;
	padding: 1.7em 7em;
	color: var(--background-font-color);
	display: flex;
	justify-content: center;
	align-items: center;
}


/* --cube styling dat over meer sections gaat */
main section:nth-of-type(2),
main section:last-of-type,
.order article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2em;
}

/* hielp om de 2e article weer goed te krijgen, behalve de width */
main section:nth-of-type(2) article,
main section:nth-of-type(2) article:nth-of-type(2) section,
main section:last-of-type article img:first-of-type,
.order article section {
	border-radius: var(--border-radius-cubes);
}


/* --svg icon styling dat over meer sections gaat */
footer>img,
main section:nth-of-type(3) img,
main section:last-of-type img:last-of-type {
	background-color: var(--style-color-one);
	width: 3.5em;
	border-radius: 3em;
	display: flex;
	align-self: center;
	justify-self: center;
}


/****************/
/* HEADER */
/****************/


/* https://stackoverflow.com/questions/24052569/why-isnt-my-justify-content-property-working
https://stackoverflow.com/questions/14855157/css-move-multiple-list-item-to-the-right-and-up
Eerst had ik mijn nav proberen te maken met flex maar it was not flexing. Ik kwam er later uit met mijn 
oudere site en de padding van de ul, maar na een feedback moment heb ik het veranderd in een grid. */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout
 Lukkt eerst niet, daarna hulp van docent. De grid zelf werkte ook niet wegens verkeerd de html opgeroepen*/


header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	border-bottom: solid .03em rgb(191, 191, 191);
}



/* om de blokjes goed te zetten heb ik centreren geprobeerd maar omdat het rechte blokjes kleiner is lijkt het net uit balans 
Ik had eerst de grid van maxcontenten auto content naar 1fr gedaan, maar stond de dichtbij. toen 33 33 maar ook te dichtbij, daarna 25 50 25 en dat werkt heb beste */
header ul {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 1fr;
	display: grid;
	align-items: center;
}


header ul:first-of-type li {
	display: flex;
	justify-content: center;
}

header ul li:first-of-type {
	grid-column-start: 2;
	grid-row-start: 1;
	display: flex;
	width: 100%;
	justify-content: center;
}

header ul li a img {
	max-width: 10em;

}

header ul li button:first-of-type {
	background-color: var(--header-button-color);
	border-radius: 1em;
}

header ul:first-of-type li:nth-of-type(2) {
	grid-column-start: 1;
	grid-row-start: 1;

}


header ul:first-of-type li:nth-of-type(2) button {
	width: 4.3em;
	height: 2.7em;
	border-radius: 1.5em;

}

header ul li:last-of-type button {
	grid-column-start: 3;
	grid-row-start: 1;
	width: 3em;
	height: 2em;
}

header ul li:nth-of-type(2) button img,
header ul:first-of-type li:last-of-type img {
	width: 45%;
}

/* .menuOPen studente assisetne en docent hebben geholpen hiermee. Had eerst css in js gedaan. ik dacht dat alles goed ging maar andere button ging ook mee nadat ik mijn html heb aangepast*/
header.menuOpen ul li:nth-of-type(2) button img {
	content: url(/images/close.svg);
	width: 45%;
}



/* https://stackoverflow.com/questions/47865412/how-to-change-the-size-of-the-image-on-the-button-in-html-css
Eerst was de img veel te groot, waardoor de container ook groot was */
header button img {
	width: 1.2em;
	height: auto;
}



/* --nav */
/* https://www.sololearn.com/Discuss/3177679/how-to-sequence-multiple-text-animations-one-after-one  */
@keyframes fadeintext {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

header nav {
	/* display: none; */
	width: 100%;
	position: fixed;
	height: 100vh;
	background: rgb(255, 255, 255);
	margin: 0;
	opacity: 0;
	pointer-events: none;
}

header.menuOpen nav {
	opacity: 1;
	pointer-events: all;
}

/* deed eerst grid maar werkte neit met aanpasiing code dus flex  */
header nav ul {
	row-gap: 1.5em;
	display: flex;
	flex-flow: column;
	justify-items: center;
	font-size: 2.4em;
	color: rgba(81, 45, 0);
	transition: 0.5s;
	opacity: 0;
}

header.menuOpen nav ul {
	opacity: 1;
}

header.menuOpen nav ul li a {
	color: rgba(81, 45, 0);
}


/* fill mode make it go one by one  */
header.menuOpen nav ul li {
	animation-duration: 1s;
	animation-fill-mode: both;
}

header.menuOpen nav ul li:first-of-type {
	animation-name: fadeintext;
	animation-delay: 0s;
}


header.menuOpen nav ul li:nth-of-type(2) {
	animation-name: fadeintext;
	animation-delay: 0.25s;
}


header.menuOpen nav ul li:nth-of-type(3) {
	animation-name: fadeintext;
	animation-delay: 0.5s;
}


header.menuOpen nav ul li:nth-of-type(4) {
	animation-name: fadeintext;
	animation-delay: 0.75s;
}


header.menuOpen nav ul li:last-of-type {
	animation-name: fadeintext;
	animation-delay: 1s;
}




/****************/
/* FOOTER */
/****************/
/* idk how to fix the problem of them margin without doing - */
footer {
	background-color: rgb(255, 110, 12);
	margin: auto -1.5em auto -1.5em;
	padding-bottom: 6em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2em;
}

/* sstrugglin with gap, was workin on the wrong parent. if i wanted to use gap ,had to put the lists in grid */
footer ul {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-row-gap: .5em;
}

footer ul a {
	background-color: rgba(238, 77, 37, 255);
	padding: 1.7em 7em;
	color: var(--background-font-color);
	display: flex;
	justify-content: center;
	align-items: center;

}

footer>img {
	background-color: rgba(245, 245, 245, 255);
	width: 10em;
	border-radius: 7em;
	padding: .5em;
	margin-top: -3em;
	transform: rotate(-20deg);
	box-shadow: .3em .3em .5em rgb(25, 25, 25, .5);
}




/****************/
/* MAIN*/
/****************/

/* https://www.dofactory.com/css/buttons Ik vergat hoe ik een button moest maken in css */
/* https://www.terluinwebdesign.nl/en/css/position-sticky-not-working-try-overflow-clip-not-overflow-hidden/ Voordat ik position absolute heb gebruikt, 
heb ik sticky geprobeerd, maar dat werkt niet omdat het plakt aan de container. ik moet hiervoor dus fixed gebruiken.
https://stackoverflow.com/questions/19188211/how-to-add-fixed-button-to-the-bottom-right-of-page
https://www.google.com/search?client=firefox-b-d&q=how+to+position+fixed+with+flexbox, Daarna had ik problemen met
flex en fixed. Dit heb ik opgelost door beide de a en de containter een flex en fixed te geven.*/

/* SECTION 1: STICKY BUTTON */
/* zindex want img van footer ginge rvoheenx */
.index h1+section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 245, 245, 255);
	height: 13%;
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 0%;
	z-index: 1;
}

/* https://www.dofactory.com/css/buttons Ik vergat hoe ik een button moest maken in css */
/* https://www.terluinwebdesign.nl/en/css/position-sticky-not-working-try-overflow-clip-not-overflow-hidden/ Voordat ik position absolute heb gebruikt, 
heb ik sticky geprobeerd, maar dat werkt niet omdat het plakt aan de container. ik moet hiervoor dus fixed gebruiken.
https://stackoverflow.com/questions/19188211/how-to-add-fixed-button-to-the-bottom-right-of-page
https://www.google.com/search?client=firefox-b-d&q=how+to+position+fixed+with+flexbox, Daarna had ik problemen met
flex en fixed. Dit heb ik opgelost door beide de a en de containter een flex en fixed te geven.*/
.index h1+section a {
	position: fixed;
	bottom: 1em;
}

/* SECTION 2: MEDIA INTRO */
/* als ik responsive maak dan grid in de media wuery */








/* --article 1, 3 */

/* https://www.w3schools.com/cssref/css3_pr_background-size.php
Ik moest de background goed positioneren  */
.index section:nth-of-type(2) article:first-of-type,
.index section:nth-of-type(2) article:last-of-type {
	background-color: rgb(179, 142, 86);
	background-image: url("/images/coffee_bgeffect.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 23em;
	overflow-y: hidden;
}

.index section:nth-of-type(2) article:first-of-type h3,
.index section:nth-of-type(2) article:last-of-type h4 {
	color: var(--background-font-color);
	text-align: var(--text-align);
	margin: .5em;
	font-weight: 900;
}

/* https://www.browserstack.com/guide/how-to-resize-image-using-css */
.index section:nth-of-type(2) article:first-of-type img,
.index section:nth-of-type(2) article:last-of-type img {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: center;
}

/* --article 2 + styling main order*/


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type,
.order article section:first-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 33%);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2),
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3),
.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type,
.order article section:nth-of-type(2),
.order article section:nth-of-type(3),
.order article section:last-of-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 0;
	display: none;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type h4,
.order article section:first-of-type h4 {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
}



.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type h4,
.order article section:nth-of-type(2) h4,
.order article section:nth-of-type(3) h4,
.order article section:last-of-type h4 {
	font-size: 1.5em;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type h4,
.order article section:nth-of-type(2) h4,
.order article section:nth-of-type(3) h4,
.order article section:last-of-type h4 {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) h4,
.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type h4,
.order article section:nth-of-type(2) h4,
.order article section:first-of-type h4,
.order article section:nth-of-type(2) h4,
.order article section:nth-of-type(3) h4,
.order article section:last-of-type h4 {
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	color: var(--background-font-color);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) h4,
.order article section:nth-of-type(3) h4 {
	margin-bottom: 1em;
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type p,
.order article section:nth-of-type(2) p {
	grid-column-start: 1;
	grid-row-start: 2;
	font-size: .9em;
	color: var(--background-font-color);
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button:first-of-type,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) button:first-of-type,
.order article section:first-of-type button:first-of-type,
.order article section:nth-of-type(3) button:first-of-type {
	grid-column-start: 1;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255);
	color: var(--style-color-one);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button:nth-of-type(2),
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) button:nth-of-type(2),
.order article section:first-of-type button:nth-of-type(2),
.order article section:nth-of-type(3) button:nth-of-type(2) {
	grid-column-start: 2;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255, 0.3);
}



.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) input,
.order article section:nth-of-type(2) input {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255, 0.3);
	width: 14em;
	height: 3.6em;
	border: 0;
	border-radius: .7em 0 0 .7em;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) input:focus,
.order article section:nth-of-type(2) input:focus {
	background-color: var(--focus-color);
}

.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type select,
.order article section:last-of-type select {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 3;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) button:first-of-type,
.order article section:nth-of-type(2) button:first-of-type {
	grid-column-start: 2;
	grid-row-start: 3;
	background-color: rgba(255, 255, 255);
	color: var(--style-color-one);
	border-radius: 0 .7em .7em 0;
}

.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(2),
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) button:last-of-type,
.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type button,
.order article section:nth-of-type(2) button:nth-of-type(2),
.order article section:nth-of-type(3) button:last-of-type,
.order article section:last-of-type button {
	grid-column-start: 1;
	grid-row-start: 1;
	background-color: unset;
	text-align: left;
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2),
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3),
.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type,
.order article section:first-of-type,
.order article section:nth-of-type(2),
.order article section:nth-of-type(3),
.order article section:last-of-type {
	background-color: var(--style-color-one);
	border: 0.5em solid var(--style-color-one);
	height: 12em;
	width: 87vw;
	color: var(--background-font-color);
}


.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) button:first-of-type,
.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) button,
.order article section:first-of-type button,
.order article section:nth-of-type(2) button:first-of-type,
.order article section:nth-of-type(3) button {
	height: 3em;
	width: 90%;
	justify-self: center;
	align-self: center;
}




/* --article 3 */

.index section:nth-of-type(2) article:last-of-type {
	background-color: rgb(60, 157, 184);
	background-image: none;
	width: 100%;
	overflow-x: hidden;

}

/* display flex lukte niet, veel gebprobeerd om de img te centren maar niks lukt eme dus margin */
.index section:nth-of-type(2) article:last-of-type img {
	width: 25em;
	margin-left: -1.8em;
}



/* SECTION 3: bestel stappenplan */

.index section:nth-of-type(3) article ol {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 1em;
}

.index section:nth-of-type(3) article ol li {
	background-color: white;
	display: grid;
	grid-template-columns: 30% 66%;
	grid-template-rows: repeat(2, 4.5em);
	border-radius: var(--border-radius-cubes);
}


.index section:nth-of-type(3) article h3 {
	font-size: 4em;
	margin-bottom: .6em;
}

.index section:nth-of-type(3) article h3 span {
	color: var(--style-color-two);
}

.index section:nth-of-type(3) article h4 {
	grid-column-start: 2;
	grid-row-start: 1;
	font-size: 1.5em;
}

.index section:nth-of-type(3) article p {
	grid-column-start: 2;
	grid-row-start: 2;
	font-size: .85em;
	grid-column-start: 2;
	grid-row-start: 2;
	line-height: 1.2em;
}

.index section:nth-of-type(3) article li:last-of-type h4 {
	grid-column-start: 2;
	grid-row: 1/3;
	display: flex;
	align-self: center;
}

.index section:nth-of-type(3) article img {
	grid-column-start: 1;
	grid-row: 1 / 3;
	width: 3.5em;
	padding: .7em;
}

.index section:nth-of-type(3) article li:nth-of-type(2) img {
	background-color: var(--style-color-two);
}



/* SECTION 4: BLOG POSTS */


.index section:last-of-type article {
	display: flex;
	flex-direction: column;
	padding-top: 4em;
}


.index section:last-of-type h3 {
	font-size: 2.35em;
	text-transform: unset;
	margin: auto;
}

.index section:last-of-type article:last-of-type h3 {
	color: var(--style-color-two);
}

.index section:last-of-type p {
	font-size: 1.2em;
}


.index section:last-of-type img {
	order: -1;
}

.index section:last-of-type img:first-of-type {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.index section:last-of-type img:last-of-type {
	background-color: var(--style-color-two);
	width: 6em;
	padding: 1.2em;
	margin: -3em 2em 1em auto;
}

.index section:last-of-type img:last-of-type {
	background-color: var(--style-color-one);
}

.index section:last-of-type article:first-of-type img {
	background-color: var(--style-color-two);
}

/****************/
/* MAIN ORDER*/
/****************/

#orderbody {
	background: unset;
}

.order {
	background-color: var(--style-color-one);
	margin: .5em -1.5em auto -1.5em;
}

.order article section {
	margin: 10em auto 15em auto;
}

.order article section p {
	color: var(--background-font-color);
}




@media screen and (min-width: 50em) {


	/*********************/
	/* GENERAL STYLING */
	/*********************/

	main {
		margin: auto 5em;
	}


	/*********************/
	/* FOOTER */
	/*********************/

	footer {
		display: grid;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: 6em;
		justify-content: center;
		align-items: center;
		height: 2em;
		margin-bottom: 2em;
	}

	footer ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	footer ul a {
		background-color: unset;
		color: var(--background-font-color);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: unset;
		font-size: 1.3em;

	}


	/*********************/
	/* MAIN*/
	/*********************/

	/* SECTION 1: STICKY BUUTON*/

	.index section:first-of-type {
		display: none;
	}

	/* SECTION 2: MEDIA INTRO */
	.index section:nth-of-type(2) {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-rows: 50% 50%;
		grid-row-gap: 1.5em;
	}

	.index section:nth-of-type(2) article:first-of-type {
		grid-column-start: 1;
		grid-row-start: 1;
		grid-row-end: 4;
		display: grid;
		align-self: flex-start;
	}

	.index section:nth-of-type(2) article:nth-of-type(2) {
		grid-column-start: 2;
		grid-row-start: 1;
	}

	.index section:nth-of-type(2) article:last-of-type {
		grid-column-start: 2;
		grid-row-start: 2;
	}


	/* --article 1 */
	.index section:nth-of-type(2) article:first-of-type {
		height: 30em;
	}



	/* --article 2 */
	.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type {
		width: 100%;

	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type {
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: center;
	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) input {
		width: 20em;
	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type button {
		width: 90%;
	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3) {
		margin: auto;
	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type,
	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2),
	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3),
	.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type {
		column-gap: .5em;
		width: 100%;
	}




	/* --article 3 */

	.index section:nth-of-type(2) article:last-of-type {
		height: 16.7em;
	}


	/* SECTION 3: BESTELPLAN */


	.index section:nth-of-type(3) {
		margin-top: 3em;
	}

	.index section:nth-of-type(3) article {
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: 1fr;
		grid-gap: 2em;
		justify-content: center;
	}

	.index section:nth-of-type(3) article h3 {
		grid-column-start: 1;
		grid-row-start: 1;
		display: grid;
		justify-self: center;
		margin: auto;
		font-size: 3.5em;
	}

	.index section:nth-of-type(3) article a {
		justify-self: center;
	}

	.index section:nth-of-type(3) article ol {
		display: grid;
		justify-self: center;
	}

	.index section:nth-of-type(3) article ol li:first-of-type {
		grid-column-start: 2;
		grid-row-start: 1;

	}

	.index section:nth-of-type(3) article ol li:nth-of-type(2) {
		grid-column-start: 2;
		grid-row-start: 2;

	}

	.index section:nth-of-type(3) article ol li:last-of-type {
		grid-column-start: 2;
		grid-row-start: 3;

	}

	.index section:nth-of-type(3) article a {
		grid-column-start: 1;
		grid-row-start: 1;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 23em;

	}


	/* SECTION 4: BLOG POSTS */
	.index section:last-of-type {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50% 50%;
		row-gap: 4em;

	}


	.index section:last-of-type article {
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: repeat(3, 33%);
		row-gap: 1em;
		column-gap: 3em;
		justify-content: center;
	}

	.index section:last-of-type article:last-of-type {
		display: grid;
		grid-template-columns: 60% 40%;
	}


	.index section:last-of-type article img:last-of-type {
		margin-top: 15em;
	}

	.index section:last-of-type article:first-of-type img {
		grid-column-start: 1;
		grid-row: 1/4;
	}

	.index section:last-of-type article:first-of-type h3 {
		grid-column-start: 2;
		grid-row-start: 1;
	}


	.index section:last-of-type article:first-of-type p {
		grid-column-start: 2;
		grid-row-start: 2;
	}

	.index section:last-of-type article:first-of-type a {
		grid-column-start: 2;
		grid-row-start: 3;
		justify-self: center;
	}

	.index section:last-of-type article:last-of-type img {
		grid-column-start: 2;
		grid-row: 1/4;
	}


	.index section:last-of-type article:last-of-type h3 {
		grid-column-start: 1;
		grid-row-start: 1;
	}


	.index section:last-of-type article:last-of-type p {
		grid-column-start: 1;
		grid-row-start: 2;
	}

	.index section:last-of-type article:last-of-type a {
		grid-column-start: 1;
		grid-row-start: 3;
		justify-self: center;
	}


	/****************/
	/* MAIN ORDER*/
	/****************/



	.order article section:first-of-type,
	.order article section:nth-of-type(2),
	.order article section:nth-of-type(3),
	.order article section:last-of-type {
		width: 30em;
		height: 15em;
	}


	.order article section:nth-of-type(2) input {
		width: 20em;
	}

}







@media screen and (min-width: 80em) {


	/*********************/
	/* GENERAL STYLING */
	/*********************/


	body {
		padding: 0 3em;
		background: linear-gradient(rgb(255, 255, 255) 0% 30%, rgba(245, 245, 245, 255) 30% 58%, rgb(255, 255, 255) 58% 100%);
	}

	/* --texts and buttons */


	h3,
	h4 {
		font-size: 5em;
	}



	/*********************/
	/* HEADER */
	/*********************/


	header {
		position: unset;
		width: 100%;
		z-index: 2;
		display: grid;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: 1fr;
		display: grid;
		align-items: center;
	}


	header {
		display: grid;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: 1fr;
		display: grid;
		align-items: center;
	}

	header ul {
		grid-column-start: 1;
	}

	header nav {
		display: grid;
		justify-content: center;
		background-color: unset;
		grid-column-start: 2;
		position: unset;
		height: 3.5em;
		opacity: 1;
	}

	header nav ul {
		flex-direction: row;
		font-size: 1.2em;
		opacity: 1;

	}


	/* met margin wat flex en grid werkt niet  */
	header nav ul li {
		margin: 0 1em;
	}

	header nav ul a {
		color: rgba(81, 45, 0);
	}

	header ul li a img {
		max-width: 10em;
	}

	header ul:first-of-type li:nth-of-type(2) button,
	header ul li:last-of-type button,
	header ul li:nth-of-type(2) button img,
	header ul:first-of-type li:last-of-type img,
	header.menuOpen ul li:nth-of-type(2) button img {
		display: none;

	}


	/*********************/
	/* FOOTER */
	/*********************/

	footer {
		margin: auto -3.5em;
	}

	/*********************/
	/* MAIN*/
	/*********************/


	/* SECTION 1: MEDIA INTRO  */
	.index section:nth-of-type(2) {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-rows: 15em 24em;
		grid-row-gap: 1.5em;
	}


	/* --article 1 */
	.index section:nth-of-type(2) article:first-of-type {
		height: 40em;
	}

	.index section:nth-of-type(2) article:first-of-type img {
		margin-top: 10em;
	}

	/* --article 2, 3 */

	.index section:nth-of-type(2) article:nth-of-type(2),
	.index section:nth-of-type(2) article:last-of-type {
		align-self: flex-start;
	}

	.index section:nth-of-type(2) article:last-of-type {
		height: 24em;
	}

	.index section:nth-of-type(2) article:last-of-type img {
		width: 100%;
		margin-left: 1em;
	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:first-of-type,
	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2),
	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(3),
	.index section:nth-of-type(2) article:nth-of-type(2) section:last-of-type {
		width: 100%;
		height: 15em;

	}

	.index section:nth-of-type(2) article:nth-of-type(2) section:nth-of-type(2) input {
		width: 25em;
	}


	/* SECTION 3: BESTELPLAN  */




	/* SECTION 3: bestel stappenplan */

	.index section:nth-of-type(3) article ol {
		row-gap: 2em;
	}

	.index section:nth-of-type(3) article ol li {
		height: 12em;
		row-gap: 2em;
	}

	.index section:nth-of-type(3) article h3 {
		font-size: 5em;

	}

	.index section:nth-of-type(3) article h4 {
		font-size: 2em;
	}

	.index section:nth-of-type(3) article p {
		font-size: 1em;
	}

	.index section:nth-of-type(3) article a {
		margin-top: 30em;
	}

	/* SECTION:BLOG POSTS  */
	.index section:last-of-type article {
		width: 60em;
		justify-self: center;
	}

	.index section:last-of-type article p {
		font-size: 1.5em;
	}

	/****************/
	/* MAIN ORDER*/
	/****************/


	.order {
		margin: auto -3.5em auto -3.5em;
	}

	.order article section {
		justify-content: center;
	}


}